.filter-modal {
  position: fixed;
  top: 225px;

  height: 100vh;
  width: 100vw;
  z-index: 1;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 225px;
  top: 0;

  @media (min-width: 768px) {
    display: none;
  }

  .filter-modal-content {
    padding: 24px;
    width: 327px;
    height: 217px;
    background-color: #19202d;
    box-sizing: border-box;
    margin-left: 24px;
    margin: 0 auto;
  }

  .mobile-icon-input-container {
    width: 169px;
    display: flex;
    justify-content: space-between;
  }

  .horizontal-line {
    margin-top: 24px;
    margin-bottom: 24px;
    opacity: 0.2;
  }

  .mobile-checkbox-button-container {
    .input-label-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 148px;
      margin-bottom: 24px;
    }

    .full-time-only-checkbox {
      background-color: #19202d;
      opacity: 0.1;
      width: 24px;
      height: 24px;
    }

    .check-box-label {
      color: white;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: bold;
      width: 112px;
    }
    .mobile-filter-search-button {
      background: #5964e0; //violet
      border-radius: 5px;
      border: none;
      color: white;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: bold;
      height: 48px;
      width: 279px;
    }
  }

  .location-search-field {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 16px;
    width: 135px;
  }
}
