.nav-section-container {
  font-family: Arial, Helvetica, sans-serif;
  height: 136px;

  background-image: url("../../assets/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100vw;

  //layout styles
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  @media (min-width: 768px) {
    background-image: url("../../assets/tablet/bg-pattern-header.svg");
  }

  @media (min-width: 1440px) {
    background-image: url("../../assets/desktop/bg-pattern-header.svg");
  }

  .heading-toggle-container {
    display: flex;
    justify-content: space-between;

    .nav-heading {
      width: 115px;
    }

    @media (min-width: 768px) {
      margin-right: 40px;
      width: 689px;
    }

    @media (min-width: 1440px) {
      margin-left: 165px;
      margin-right: 165px;
      max-width: 1110px;
    }
  }

  .nav-heading {
    color: white;
    font-size: 32px;
    font-weight: 700;
  }
}
